@import '{}/imports/ui/style/colours.scss';
@import '{}/imports/ui/style/general.scss';
@import '{}/imports/ui/style/layouts/Header.scss';
@import '{}/imports/ui/style/layouts/Home.scss';
@import '{}/imports/ui/style/layouts/Banner.scss';

html {
  background-color: $primary-background;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#render-target {
  height: 100%;
}

.fullscreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
