@import '{}/imports/ui/style/colours.scss';
@import '{}/imports/ui/style/general.scss';
@import '{}/imports/ui/style/layouts/Home.scss';

html {
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.fullscreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: $header-color;
  height: 3.5rem;
  font-size: 1.4rem;
}
