.blog-input-wrapper {
    margin: auto;
    width: 60%;
    padding: 5px;
}

.blog-input-title-wrapper,
.blog-input-body-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.blog-input-title-wrapper {
    height: 50px;
    margin-bottom: 15px;
}

#blog-body-input,
#blog-title-input {
    padding: 5px;
}

#blog-body-input {
    height: 200px;
    resize: none;
    overflow-y: scroll;
}

.blog-input-actions {
    margin-top: 10px;
    display: flex;

    button {
        margin-right: 40px;
    }
}
